
.intro-menu {
    background-image:url(../img/menu-main-photo.jpg);
    height:100vh;
   min-width:100vw;
}

.menu-naw-list {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    width:100%;
}

.lni-arrow-down-circle {
    font-size: var(--fs-fourth-heading);
}



.menu-naw-item-title {
    padding:1rem 0;
}


@media (min-width:1080px){

    .intro-wrap{
        width:70%;
        text-align: center;
    }
    .menu-naw-list {
        display:flex;
        flex-direction:row;
        /*justify-content: space-around;*/
        width:100%;
    }

    .lni-arrow-down-circle {
        font-size: var(--fs-big-font);
    }
}

.menu-dish-list-category {
    text-align:center;
}


.menu-dish-item {
    margin:2.3rem 0;
}

.menu-dish-name-category {
color: var(--clr-decorative-second);
font-weight:bolder;
}

.menu-dish-name {
    font-weight:bolder;
}

.menu-dish-description {
    font-weight:lighter;
    padding:1rem 0;
}

.menu-dish-prize {
font-family: var(--ff-decorative);;
}